.listPage {
	display: flex;
	height: 100%;

	.listContainer {
		background-color: grey;
		flex: 3;

		.wrapper {
			padding-right: 50px;
			display: flex;
			flex-direction: column;
			gap: 50px;
			overflow-y: scroll;
		}
	}

	.mapContainer {
		background-color: pink;
		flex: 2;
	}
}
