.homePage {
	display: flex;
	height: 100%;

	.textContainer {
		flex: 3;

		.wrapper {
			padding-right: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 50px;
			background-color: aqua;
			height: 100%;
		}
	}
	.imgContainer {
		flex: 2;
		background-color: #fcf5f3;
		position: relative;
		display: flex;
		align-items: center;

		img {
			position: absolute;
			right: 0;
			width: 115%;
		}
	}
}
