.singlePage {
	display: flex;
	height: 100%;
	.details {
		flex: 3;
		background-color: beige;

		.wrapper {
			padding-right: 50px;
		}
	}

	.features {
		flex: 2;
		background-color: aqua;

		.wrapper {
			padding: 0 20px;
		}
	}
}
